body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

.mainheader {
    @include flex (column,center,space-between);
    height: 113px;
    width: 100vw;
    &__title {
        @include flex (column,center,center);
        height: 89px;
        width: 45%;
        img {
            max-height: 36px;
            max-width: 100%;
            object-fit: cover;
        }
    }
    &__location {
        @include flex (row,center,center);
        width: 100vw;
        height: 50px;
        gap: 17px;
        flex-shrink: 0;
        box-shadow: inset 0px 8px 8px -5px rgba(0, 0, 0, 0.25);
        background-color: $medium-grey;
        .location-search {
            background-color: transparent;
            border: none;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            max-width: 120px;
        }
    }
}

main {
    width: 100%;
    @include flex (column,center,space-between);
}
.presentation {
    padding: 3vh 0 4.5vh 0;
    @include flex (column,center,space-around);
    text-align: center;
    background-color: $light-grey;
    height: 36vh;
    width: 100vw;
    @media (min-width : $breakpoint) {
        height : 210px;
        padding : 10px 0 20px 0;
    }
    h1 {
        @media (min-width : $breakpoint) {
            font-size: 2.5rem;
        }
        max-width: 73%;
    }
    &__btn {
        position: relative;
        @include flex (row,center,center);
        background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); 
        border-radius: 25px;
        height: 50px;
        width: 218px;
        color: $white-text;
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    
        &:hover, &:active {
            background: linear-gradient(175deg, lighten(#FF79DA,3%) 0%, lighten(#9356DC,3%) 100%); 
            box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.4);
            
        }
        &:not(:hover), &:not(:active) {
            background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        }
    }
}
.howto {
    @include flex (column,flex-start,space-around);
    height: 440px;
    @media (min-width : $breakpoint) {
        @include flex (column,flex-start,center);
        gap: 25px;
        height: 230px;  
        width: 98vw;
        max-width: 1080px;
    }
    &__title {
        position: relative;
        left: -5px;
        top: 20px;
        @media (min-width : $breakpoint) {
            left: 0;
        }
    }
    &__container {
        @include flex (column,center,space-around);
        height: 300px;
        margin-bottom: 40px;
        max-width: 1080px;
        @media (min-width : $breakpoint) {
            @include flex (row,center,space-around);
            width: 100%;
        }
    }
    &__content {
        @include flex (row,center,flex-start);
        position: relative;
        height: 72px;
        width: 322px;
        font-weight: 500; 
        border-radius: 20px;
        background: $light-grey;         
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        p {
            position: relative;
            left: 70px;
        }
        i {
            position: absolute;
            font-size: 1rem;
            left: 33px;
            top: 25px;
            color: $grey-fasolid;     
        }
        .fa-store {
            color: $purple-color;
        }
    }
    &__circle {
        @include flex (row,center,center);  
        position: absolute;
        left: -14px;
        border-radius: 100%;
        background-color: $purple-color;
        color: $white-text;
        width: 25px;
        height: 25px;       
    }
}
    
.restaurant {
    background-color: $light-grey;
    @include flex (column,center);
    gap: 2vh;
    width: 100vw;
    padding: 3rem 0 3rem 0;
    &__title {
        align-self: flex-start;
        width: 100%;
    }

    &__container {
        @include flex (column,center,space-around);
        gap: 2vh;
        @media (min-width: $breakpoint) {
            @include flex (row,center,space-between,wrap);
            width: 98vw; 
            max-width: 1080px;
        }
    }

    &__link {
        position: absolute;
        height:100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
        
    &__card {
        @include flex (column); 
        width: 90vw; 
        max-width: 910px; 
        height: 251px;
        overflow: hidden;
        position: relative;
        border-radius: 20px;
        background: #FFF; 
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
        @media (min-width: $breakpoint) {
            max-width: 490px; 
        }
        
        &-new {
            @include flex (row,center,center);
            position: absolute;
            top: 1rem;
            right: 1rem;
            z-index: 1;
            width: 80px;
            height: 29px;
            font-size: 0.9rem;
            font-weight: 500; 
            color: $dark-green-color;
            border-radius: 2px;
            background: $light-green-color;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        }

        img {
            position: absolute;
            top: -57px;
            object-fit: cover;
            height: 231px;
            width: 100%; 
        }

        &-content {
            @include flex (column,flex-start,center);
            position: absolute;
            top: 174px;
            left: 13px;
            height: 77px;
            color: black;
            gap: 5px;
        }
        p {
            font-size: 1.063rem;
            font-weight: 300;
        }
    }
}

.restaurant__heart {
    position: relative;
    top: 77%;
    left: 86%;
    width: 24px;
    height: 23px;
    font-size: 1.375rem;
    z-index: 5;

    .hide-checkbox {
    @include hide
    }

    i {
        position: absolute;
        left: -5px;
        top: 5px;
    }
    .heart-full {
        font-size: 1.5rem;
        color: transparent;
        background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
        -webkit-background-clip: text;
        background-clip: text ;
        overflow: hidden;
        @include Opacity-and-Scale (0,0.1);
        transition: all 0.3s ease-in-out;                  
    }
    .heart-empty {
        color: black;
        @include Opacity-and-Scale (1,1);
        transition: all 0.3s ease-in-out;                            
    }

    // Animation d'apparition du coeur coloré au clic
    #heart-checkbox-1:checked,
    #heart-checkbox-2:checked,
    #heart-checkbox-3:checked,
    #heart-checkbox-4:checked {
    ~ .heart-label .heart-full { 
        @include Opacity-and-Scale (1,1);
    }
    }
    // Animation de disparition du coeur vide au clic
    #heart-checkbox-1:checked,
    #heart-checkbox-2:checked,
    #heart-checkbox-3:checked,
    #heart-checkbox-4:checked { 
    ~ .heart-label .heart-empty {
        @include Opacity-and-Scale (0,0.1);
    }
    }
    // Animation de disparition du coeur coloré au clic
    #heart-checkbox-1:not(:checked),
    #heart-checkbox-2:not(:checked),
    #heart-checkbox-3:not(:checked),
    #heart-checkbox-4:not(:checked) {
    ~ .heart-label .heart-full {
        @include Opacity-and-Scale (0,0.1);
    }
    }
    // Animation de d'apparition du coeur vide au clic
    #heart-checkbox-1:not(:checked),
    #heart-checkbox-2:not(:checked),
    #heart-checkbox-3:not(:checked),
    #heart-checkbox-4:not(:checked) {
    ~ .heart-label .heart-empty {
    @include Opacity-and-Scale (1,1);
    } 
    }          
}

.footer {
    @include flex (column,flex-start,center);
    background-color: $grey-footer;
    color: $white-text;
    width: 100vw;
    height: 186px;
    gap: 16px;
    &__title {
        position: relative;
        left: 25px;
    }

    h2 {
        font-family: 'Shrikhand', sans-serif; 
    }    

    a {
        color: $white-text;
        font-size: 1rem;
    }
    &__container {
        @include flex (column,flex-start,space-around);
        position: relative;
        left: 25px;
        gap: 16px;
        @media (min-width: $breakpoint) {
            width: 1440px;
            @include flex (row-reverse,flex-end,flex-start);
            height: 54px;
            padding: 30px 25px 30px 25px;
        }
    }
    ul { 
        @media (min-width: $breakpoint) {
            @include flex (row);
            gap : 10px;
        }
    }
    li {
        margin-bottom: 7px;
        @media (min-width: $breakpoint) {
            margin-bottom: 0;
            width: 200px;
        }
    }
    .fa-solid {
        width: 11px;
        padding-right: 2vw;
        @media (min-width: $breakpoint) {
        padding-right : 11px;
        }   
    }   
}
