.loader {
    @include flex (row,center,center);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: linear-gradient(145deg, $pink-color 0%, $purple-color 100%);
    font-size: 3rem;
    font-family: "Shrikhand",sans-serif;
    animation: disappear 0.3s linear 2.7s forwards;
}
.plate {
    @include flex (row,center,center);
    position: absolute;
    width: 350px;
    height: 350px;
    &__center {
        position: absolute;
        width: 80%;
        height: 80%;
        border-radius: 50%;
        background-color: white;
        border: 2px solid black;
        box-shadow: inset 0px 0px 10px black;
        z-index: 30;
      }
      
    &__outer {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: white;
        border: 5px double black;
        box-shadow: 0px 0px 5px black;
        z-index: 20;
      }
}
    
.oh {
    z-index: 40;
    animation: scale_spin 0.5s ease-in-out forwards;
}
.my {
    z-index: 40;
    opacity: 0;
    animation: fall 0.5s ease-out 0.5s forwards, bounce 1.2s ease-out 0.9s forwards;
}
.food {
    z-index: 40;
    opacity: 0;
    perspective-origin: bottom right;
    animation: toolate 0.8s ease-out 1.7s forwards;
}

// Animation de disparition du loader
@keyframes disappear {
    0% {
        opacity: 1;
        height: 100vh;
    }
    100% {
        opacity: 0;
        height: 0;
        z-index: -50;
    }
}

//Animation du mot "oh"
@keyframes scale_spin {
    0% {
        transform: rotate(0deg) scale(0);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

// Animations de chute de "my"
@keyframes fall {
    0% {
        transform: translateY(-60vh) scale(3);
        opacity: 1;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    } 
}

// Animations de rebonds de "my"
@keyframes bounce {
    0% {
        transform: translateY(0) scaleY(0.5) scaleX(1.1);
      }
      10% {
        transform: translateY(-80px) scaleY(1.85) scaleX(0.5);
      }
      20% {
        transform: translateY(0) scaleY(0.6) scaleX(1.1);
      }
      30% {
        transform: translateY(-55px) scaleY(1.65) scaleX(0.62);
      }
      40% {
        transform: translateY(0) scaleY(0.7) scaleX(1.08);
      }
      50% {
        transform: translateY(-30px) scaleY(1.5) scaleX(0.85);
      }
      60% {
        transform: translateY(0) scaleY(0.85) scaleX(1.05);
      }
      70% {
        transform: translateY(-20px) scaleY(1.3) scaleX(0.93);
      }
      80% {
        transform: translateY(0) scaleY(0.95) scaleX(1.03);
      }
      70% {
        transform: translateY(-5px) scaleY(1.15) scaleX(0.97);
      }
      100% {
        transform: translateY(0) scaleY(1) scaleX(1);
      }
    }

// Animations d'arrivée retardataire de "food"
@keyframes toolate {
    0% {
        transform: translateX(60vw) skew(-55deg);
        opacity: 1;
    }
    90% {
        transform: skew(-43deg);
        opacity: 1;
    }
    100% {
        transform: translateX(0) skew(0deg);
        opacity: 1;
    } 

}