.restauheader {
    @include flex(row,center,flex-start);
    position: relative;
    width: 100%;
    height: 63px;
    a {
        position: absolute;
        color: black;
        margin-left: 17px;
        top: 30%;
        font-weight: 900;
        .fa-solid {
            font-size: 1.6rem;
        }
    }
    img {
        margin: auto;
        height: 36px;
        max-width: 45%;
        object-fit: cover;
    }
    @media (min-width: $breakpoint) {
        height: 96px;
    }
}

main {
    img {
        height: 275px;
        width: 100%;
        object-fit: cover;
    }
}
.menu {
    position: relative;
    top: -50px;
    width: 90%;
    max-width: 1055px;
    padding: 36px 5% 40px 5%;
    background-color: $light-grey;
    border-radius: 40px 40px 0 0;
    @include flex(column);
    gap: 40px;
    &__title {
        font-family: "Shrikhand", sans-serif;
        height: 27px;
        &-h1 {
            font-size: 1.8rem;          
            font-weight: 400;
        }
        &-heart {
            position: relative;
            top: -31px;
            left: 91%;
            width: 24px;
            height: 23px;
            font-size: 1.375rem;
            @media (min-width: $breakpoint) {
                bottom: 58%;
                left: 97%;
            }
        }
        .hide-checkbox {
            @include hide;
        }
        i {
            position: absolute;
            left: -5px;
            top: 0;
        }
        .heart-full {
            font-size: 1.5rem;
            color: transparent;
            background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
            -webkit-background-clip: text;
            background-clip :text;
            @include Opacity-and-Scale (0,0.1);
            transition: all 0.3s ease-in-out;                  
        }
        .heart-empty {
            color:black;
            @include Opacity-and-Scale (1,1);
            transition: all 0.3s ease-in-out;                            
        }
        // Animation apparition du coeur plein
        #heart-checkbox-1:checked ~ .heart-label .heart-full {
            @include Opacity-and-Scale (1,1);
        }
        // Animation disparition du coeur vide
        #heart-checkbox-1:checked ~ .heart-label .heart-empty  {
            @include Opacity-and-Scale (0,0.1);
        }
        // Animation disparition du coeur plein
        #heart-checkbox-1:not(:checked) ~ .heart-label .heart-full {
            @include Opacity-and-Scale (0,0.1);
        }
        // Animation apparition du coeur vide
        #heart-checkbox-1:not(:checked) ~ .heart-label .heart-empty {
            @include Opacity-and-Scale (1,1);
        }     
    }

    &__starter, 
    &__dish,
    &__dessert {
        @include flex(column);
        gap: 12px;
    }
        
    .card__h4 {
        font-weight: 300;
        position: relative;
        margin-bottom: 5px;
        &::before {
            content: "";
            position: absolute;
            bottom: -7px;
            left: 0;
            width: 40px;
            height: 3px;
            background-color: $light-green-color;
        }
    }
    .card {
        position: relative;
        background-color: white;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        height: 42px;
        padding: 15px;
        opacity: 0;
        animation: fadeIn 0.6s ease-in-out forwards;

        // Animation apparition des 1eres lignes de menu 
        &:nth-of-type(1) {
            animation-delay: 0.2s;
        }
        
        // Animation apparition des 2emes lignes de menu 
        &:nth-of-type(2) {
            animation-delay: 0.4s;
        }
        
        // Animation apparition des 3emes lignes de menu 
        &:nth-of-type(3) {
            animation-delay: 0.6s;
        }

        // Animation apparition des 4emes lignes de menu 
        &:nth-of-type(4) {
            animation-delay: 0.8s;
        }

        &__width {
            @include flex(row, stretch,space-between);
            width: 80%;
        }
        &__content {
            width: 88%;
        }
        &__h2 {
            font-weight: 500;
            margin-bottom: 5px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;  
        }   
        &__p {
            font-size: 0.9rem;
            font-weight: 300;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        @media (min-width: $breakpoint) {
            width: 100%;
        }
        

        &__price {
            @include flex(row,flex-end,flex-end);
            font-size: 0.9rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 10%;
        }
        
        .hide-checkbox {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 72px;
            border-radius: 15px;
            opacity: 0;
            z-index: 10;
        }
        .green-back {
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            height: 72px;
            background-color: $light-green-color;
            border-radius: 0 15px 15px 0;
        }
        .fa-regular {
            @include flex(row,center,center);
            color: white;
            font-size: 0;
            height: 72px;
            opacity: 0;
        }
        
        // Animation apparition de la coche validée sur le fond vert
        .hide-checkbox:checked ~ .green-back .fa-regular {
            opacity: 1;
            font-size: 1.5rem;
            transition: opacity 0.2s linear 0.25s;
            transition: font-size 0.2s linear 0.25s;                  
        }

        // Animation aggrandissement du fond vert
        .hide-checkbox:checked ~ .green-back {
            width: 20%;
            min-width: 60px;
            transition: width 0.2s linear;
            }
        
        // Animation réduction du fond vert
        .hide-checkbox:not(:checked) ~ .green-back {
            width: 0; 
            transition: width 0.2s linear;
        }
        // Animation reduction de la ligne de menu avec tarif 
        .hide-checkbox:checked ~ .card__width {
            width: 80%; 
            transition: width 0.2s linear;
            }
        // Animation aggrandissement de la ligne de menu avec tarif 
        .hide-checkbox:not(:checked) ~ .card__width {
            width: 100%; 
            transition: width 0.2s linear;
        }                         
    }               

    &__btn {
        @include flex(row,center,center);
        background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); 
        border-radius: 25px;
        height: 30px;
        width: 146px;
        padding: 10px 20px ;
        margin: auto;
        color: $white-text;
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        
        // Animation du bouton eclaircissement background et assombrissement bordure        
        &:hover, &:active {
            background: linear-gradient(175deg, lighten(#FF79DA,3%) 0%, lighten(#9356DC,3%) 100%); 
            box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.4);    
        }
        // Animation du bouton assombrissement background et eclaircissement bordure
        &:not(:hover):not(:active) {
            background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        }
    } 
}

// Animation d'apparitions des menus 
@keyframes fadeIn {
    from {
    opacity: 0;
    transform: translateY(10px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}