// ** Colors **//
$purple-color: #9356DC;
$pink-color: #FF79DA;
$light-blue-color: #89C8FA;
$dark-blue-color: #003A68;
$light-green-color: #99e2d0;
$dark-green-color: #008766;
$white-text : white;
$light-grey: #F6F6F6;                   /**background**/
$medium-grey: #EAEAEA;
$grey-footer : lighten(black, 20.8%);   /** #353535**/
$grey-fasolid : lighten(black,49.6%);  /** #7E7E7E **/

//** titles and link**//
h1,h2,h3,h4,p {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.1rem;
    font-weight: 300;
}

h3 {
    font-size: 1.063rem;
}

p {
    font-size: 1rem;
}

a:link {
    text-decoration: none;
}

::placeholder {
    opacity: 1; 
}

//** mixin **/

@mixin flex(
  $flex-direction: row,
  $align-items: stretch,
  $justify-content: flex-start,
  $flex-wrap: nowrap
) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
}

@mixin hide {
    display: none;
    margin: 0;
    z-index: 10;
    }

@mixin Opacity-and-Scale ($opacity, $scale) {
    opacity: $opacity;
    scale : $scale;
}
