// ** Variables **
$light-grey: #F3F3F3;
$purple-color: #9356DC;
$pink-color: #FF79DA;
$light-blue-color: #89C8FA;
$dark-blue-color: #003A68;
$light-green-color: #99e2d0;
$dark-green-color: #008766;
$white-text : white;
$grey-footer : lighten(black, 20.8%);
$grey-fasolid : lighten(black,49.6%);


// ** Other CSS files **
@import 'home';
@import 'menu';

h1,h2,h3,p {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.1rem;
    font-weight: 300;
}

h3 {
    font-size: 1.063rem;
}

p {
    font-size: 1rem;
}

a:link {
    text-decoration: none;
}

::placeholder {
    opacity: 1; 
}

