/**background**/
/** #353535**/
/** #7E7E7E **/
h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.1rem;
  font-weight: 300;
}

h3 {
  font-size: 1.063rem;
}

p {
  font-size: 1rem;
}

a:link {
  text-decoration: none;
}

::-moz-placeholder {
  opacity: 1;
}

::placeholder {
  opacity: 1;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin: auto;
}

.mainheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 113px;
  width: 100vw;
}
.mainheader .mainheader__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 89px;
  width: 45%;
}
.mainheader .mainheader__title img {
  max-height: 36px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainheader .mainheader__location {
  display: flex;
  width: 100vw;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  flex-shrink: 0;
  box-shadow: inset 0px 8px 8px -5px rgba(0, 0, 0, 0.25);
  background-color: #EAEAEA;
  padding-left: 75px;
}
.mainheader .mainheader__location .location-search {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main .presentation {
  padding: 3vh 0 4.5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: #F6F6F6;
  height: 36vh;
  width: 100vw;
}
main .presentation h1 {
  max-width: 73%;
  margin: 0 auto;
}
main .presentation .presentation__btn {
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 50px;
  max-width: 60%;
  margin: 0 auto;
  padding: 0 20px;
  color: white;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
main .presentation .presentation__btn:hover, main .presentation .presentation__btn:active {
  background: linear-gradient(175deg, #ff88de 0%, #9b63df 100%);
  box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.4);
}
main .presentation .presentation__btn:not(:hover):not(:active) {
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
main .howto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 440px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  main .howto {
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    gap: 24px;
    height: 130px;
    padding: 50px 180px;
    margin: 0;
    position: relative;
    left: -100px;
  }
  main .howto__title {
    position: relative;
    left: 200px;
    bottom: 95px;
  }
}
main .howto .howto__content {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 73px;
  height: 72px;
  width: 249px;
  font-weight: 500;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
main .howto .howto__content i {
  position: absolute;
  font-size: 1rem;
  left: 33px;
  top: 25px;
  color: #7e7e7e;
}
main .howto .howto__content .howto__circle {
  position: absolute;
  left: -14px;
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .restaurant {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  width: 100vw;
  max-width: 100vw;
  padding: 3rem 0 3rem 0;
}
main .restaurant__title {
  width: 90vw; /*322px*/
  padding-left: 5vw;
  max-width: 510px;
  align-self: flex-start;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  main .restaurant__title {
    max-width: 1024px;
  }
}
main .restaurant__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2vh;
}
@media (min-width: 1024px) {
  main .restaurant__container {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1040px;
  }
}
main .restaurant__container .restaurant__card {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 490px;
  height: 251px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
main .restaurant__container .restaurant__card-new {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 80px;
  height: 29px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #008766;
  border-radius: 2px;
  background: #99e2d0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
main .restaurant__container .restaurant__card img {
  position: absolute;
  top: -57px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 231px;
  width: 100%;
}
main .restaurant__container .restaurant__card .restaurant__card-content {
  position: absolute;
  top: 174px;
  left: 13px;
  height: 77px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
main .restaurant__container .restaurant__card .restaurant__card-content p {
  font-size: 1.063rem;
  font-weight: 300;
}
main .restaurant__container .restaurant__heart {
  position: relative;
  bottom: 77px;
  left: 40%;
  width: 24px;
  height: 23px;
  font-size: 22px;
}
@media (min-width: 1024px) {
  main .restaurant__container .restaurant__heart {
    position: relative;
    top: 0px;
    left: 0px;
  }
}
main .restaurant__container .restaurant__heart .hide-checkbox {
  display: none;
  margin: 0;
  z-index: 10;
}
main .restaurant__container .restaurant__heart i {
  position: absolute;
  left: -5px;
  top: 5px;
}
main .restaurant__container .restaurant__heart .heart-full-1,
main .restaurant__container .restaurant__heart .heart-full-2,
main .restaurant__container .restaurant__heart .heart-full-3,
main .restaurant__container .restaurant__heart .heart-full-4 {
  font-size: 24px;
  color: transparent;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  scale: 0.1;
  transition: all 0.3s ease-in-out;
}
main .restaurant__container .restaurant__heart .heart-empty-1,
main .restaurant__container .restaurant__heart .heart-empty-2,
main .restaurant__container .restaurant__heart .heart-empty-3,
main .restaurant__container .restaurant__heart .heart-empty-4 {
  opacity: 1;
  scale: 1;
  transition: all 0.3s ease-in-out;
}
main .restaurant__container .restaurant__heart #heart-checkbox-1:checked ~ .heart-label .heart-full-1,
main .restaurant__container .restaurant__heart #heart-checkbox-2:checked ~ .heart-label .heart-full-2,
main .restaurant__container .restaurant__heart #heart-checkbox-3:checked ~ .heart-label .heart-full-3,
main .restaurant__container .restaurant__heart #heart-checkbox-4:checked ~ .heart-label .heart-full-4 {
  opacity: 1;
  scale: 1;
}
main .restaurant__container .restaurant__heart #heart-checkbox-1:checked ~ .heart-label .heart-empty-1,
main .restaurant__container .restaurant__heart #heart-checkbox-2:checked ~ .heart-label .heart-empty-2,
main .restaurant__container .restaurant__heart #heart-checkbox-3:checked ~ .heart-label .heart-empty-3,
main .restaurant__container .restaurant__heart #heart-checkbox-4:checked ~ .heart-label .heart-empty-4 {
  opacity: 0;
  scale: 0.1;
}
main .restaurant__container .restaurant__heart #heart-checkbox-1:not(checked) ~ .heart-label .heart-full-1,
main .restaurant__container .restaurant__heart #heart-checkbox-2:not(checked) ~ .heart-label .heart-full-2,
main .restaurant__container .restaurant__heart #heart-checkbox-3:not(checked) ~ .heart-label .heart-full-3,
main .restaurant__container .restaurant__heart #heart-checkbox-4:not(checked) ~ .heart-label .heart-full-4 {
  opacity: 0;
  scale: 0.1;
}
main .restaurant__container .restaurant__heart #heart-checkbox-1:not(checked) ~ .heart-label .heart-empty-1,
main .restaurant__container .restaurant__heart #heart-checkbox-2:not(checked) ~ .heart-label .heart-empty-2,
main .restaurant__container .restaurant__heart #heart-checkbox-3:not(checked) ~ .heart-label .heart-empty-3,
main .restaurant__container .restaurant__heart #heart-checkbox-4:not(checked) ~ .heart-label .heart-empty-4 {
  opacity: 1;
  scale: 1;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #353535;
  color: white;
  width: 100%;
}
.footer .footer__container {
  width: 322px;
  padding: 22px 25px 22px 25px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media (min-width: 1024px) {
  .footer .footer__container {
    width: 1440px;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start;
    height: 54px;
    padding: 30px 25px 30px 25px;
  }
}
.footer .footer__container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 1024px) {
  .footer .footer__container ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
.footer .footer__container ul li {
  margin-bottom: 2vh;
}
@media (min-width: 1024px) {
  .footer .footer__container ul li {
    margin-bottom: 0;
    width: 200px;
  }
}
.footer .footer__container ul li .fa-solid {
  width: 11px;
  padding-right: 2vw;
}
@media (min-width: 1024px) {
  .footer .footer__container ul li .fa-solid {
    padding-right: 11px;
  }
}
.footer .footer__container h2 {
  font-family: "Shrikhand", sans-serif;
}
.footer .footer__container a {
  color: white;
  font-size: 1rem;
}

.restauheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100vw;
  height: 63px;
}
.restauheader a {
  position: absolute;
  color: black;
  margin-left: 17px;
  top: 30%;
  font-weight: 900;
}
.restauheader a .fa-solid {
  font-size: 1.6rem;
}
.restauheader img {
  margin: auto;
  height: 36px;
  max-width: 45%;
  -o-object-fit: contain;
     object-fit: contain;
}

main img {
  height: 275px;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
main .menu {
  position: relative;
  top: -50px;
  width: 90%;
  max-width: 1055px;
  padding: 36px 5% 40px 5%;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
main .menu .menu__title {
  font-family: "Shrikhand", sans-serif;
}
main .menu .menu__title .menu_title-h1 {
  font-size: 28px;
  font-weight: 400;
}
main .menu .menu__starter, main .menu .menu__dish, main .menu .menu__dessert {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main .menu .menu__starter .menu_card-h4, main .menu .menu__dish .menu_card-h4, main .menu .menu__dessert .menu_card-h4 {
  font-weight: 300;
  position: relative;
  margin-bottom: 5px;
}
main .menu .menu__starter .menu_card-h4::before, main .menu .menu__dish .menu_card-h4::before, main .menu .menu__dessert .menu_card-h4::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}
main .menu .menu__starter .menu_card, main .menu .menu__dish .menu_card, main .menu .menu__dessert .menu_card {
  background-color: white;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
  height: 42px;
  overflow: hidden;
  padding: 15px;
}
main .menu .menu__starter .menu_card .menu_card-h2, main .menu .menu__dish .menu_card .menu_card-h2, main .menu .menu__dessert .menu_card .menu_card-h2 {
  font-weight: 500;
  margin-bottom: 5px;
  text-overflow: ellipsis;
}
main .menu .menu__starter .menu_card .menu_card-p, main .menu .menu__dish .menu_card .menu_card-p, main .menu .menu__dessert .menu_card .menu_card-p {
  font-size: 15.043px;
  font-weight: 300;
  text-overflow: ellipsis;
}
main .menu .menu__starter .menu_card .menu_card-price, main .menu .menu__dish .menu_card .menu_card-price, main .menu .menu__dessert .menu_card .menu_card-price {
  display: flex;
  align-items: flex-end;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main .menu .menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 30px;
  width: 146px;
  padding: 10px 20px;
  margin: auto;
  color: white;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
main .menu .menu__btn:hover, main .menu .menu__btn:active {
  background: linear-gradient(175deg, #ff88de 0%, #9b63df 100%);
  box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.4);
}
main .menu .menu__btn:not(:hover):not(:active) {
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=style.css.map */